<% layout('../../layout') -%>

<section id="page-header">
    <div class="container">
        <h4 class="text-center">
            <p><%= company.phones[0].number %></p>
            <p><%= company.phones[1].number %></p>
        </h4>
        <h1><%= service.title.main %></h1>
        <p class="lead"><%= service.title.secondary %></p>
        <% include ../../partials/breadcrumbs.ejs %>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="row">
                    <% service.images.forEach(function(image) { %>
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <a href="#" class="thumbnail">
                                <img src="<%= image.url %>" alt="<%= service.name %>">
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="well well-sm">
                <%- service.body.summary %>
                </div>
            </div>
        </div>
        <%- service.body.text %>
    </div>
</section>