<% layout('../../simpleLayout') -%>

<div class="container">
    <a href="/admin/articles">Вернуть обратно</a>
    <hr>
    <form id="<%=article._id%>" action="/admin/article/" role="form" name="form-edit-article">
        <div class="form-group">
            <label for="title">Заголовок</label>
            <textarea type="text" class="form-control" id="title" name="title">
                <%=article.title.main%>
            </textarea>
        </div>
        <div class="form-group">
            <label for="subtitle">Подзаголовок</label>
            <textarea type="text" class="form-control" id="subtitle" name="subtitle">
                <%=article.title.secondary%>
            </textarea>
        </div>
        <div class="form-group">
            <label for="sideText">Боковой текст</label>
            <textarea type="text" class="form-control" id="sideText" name="sideText">
                <%=article.body.summary%>
            </textarea>
        </div>
        <div class="form-group">
            <label for="mainText">Главный Текст</label>
            <textarea type="text" class="form-control" id="mainText" name="mainText">
                <%=article.body.text%>
            </textarea>
        </div>
        <button type="submit" class="btn btn-default">Обновить запись</button>
    </form>
</div>